/* banner */
.banner {
  height: 460px;
  position: relative;
}

.slider {
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  cursor: pointer;
}
.slider-box {
  z-index: -1;
}
.next {
  margin-right: 0;
}
.prev {
  margin-left: 234px;
}
.prev,
.next {
  opacity: 0.1;
  color: #fff;
  background-color: black;
  width: 41px;
  height: 69px;
  line-height: 64px;
}
.prev:hover,
.next:hover {
  opacity: 0.8;
  color: #fff;
}
.slider-control {
  margin-top: -37px;
}

/* 广告页面 */
.ad {
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 26px;
}
.ad div {
  width: 234px;
  background: #5f5750;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  cursor: pointer;
  flex-wrap: wrap;
}
.ad div span {
  width: 76px;
  height: 82px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  opacity: 0.7;
  padding-top: 18px;
  transition: all 0.2s;
  position: relative;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.ad div span:hover {
  opacity: 1;
}
.ad div span::before,
.ad div span::after {
  content: "";
  width: 64px;
  height: 1px;
  background: #665e57;
  position: absolute;
  top: 0;
  left: 6px;
}
.ad div span::after {
  width: 1px;
  height: 70px;
  top: 6px;
  left: 0;
}

.ad div span i {
  font-size: 26px;
}
.ad img {
  width: 316px;
  transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -ms-transition: box-shadow 0.2s;
  cursor: pointer;
  -o-transition: box-shadow 0.2s;
}
.ad img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* list */
#list {
  background: #f5f5f5;
}
.list {
  width: 1226px;
  /* background: #ccc; */
  margin-bottom: 22px;
}
.title {
  font-size: 22px;
  font-weight: 200;
  height: 58px;
  line-height: 58px;
  -webkit-font-smoothing: antialiased;
}
.fast-buy {
  height: 340px;
  width: 100%;
  position: relative;
  /* background: pink; */
}
.fast-buy .time {
  width: 234px;
  height: 100%;
  background: #f1eded;
  text-align: center;
  float: left;
  padding-top: 39px;
  border-top: 1px solid #e53935;
}
.fast-buy .time div {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
  height: 46px;
}
.fast-buy .time img {
  margin: 25px 0;
}

.fast-buy .time p:first-of-type {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}
.fast-buy .time span {
  display: block;
  width: 46px;
  height: 46px;
  color: #fff;
  float: left;
  font-size: 24px;
  line-height: 46px;
  background: #605751;
}
.fast-buy .time i {
  font-style: normal;
  float: left;
  width: 15px;
  height: 46px;
  line-height: 46px;
  color: #605756;
  font-size: 28px;
}
.fast-buy #time {
  margin-top: 28px;
  margin-left: 32px;
  overflow: hidden;
}

.list .banner2 {
  width: 978px;
  height: 100%;
  /* background: #ccc; */
  overflow: hidden;
  float: right;
  position: relative;
}
.list .banner2 ul {
  height: 100%;
  width: 10000px;
  left: 0px;
  transition: left 1s;
  position: absolute;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -ms-transition: left 1s;
  -o-transition: left 1s;
}
.list .banner2 li {
  text-align: center;
  width: 234px;
  height: 100%;
  background: #fff;
  padding-top: 39px;
  float: left;
  margin-right: 14px;
  border-top: 1px solid #ff6700;
}

.list .banner2 li:last-child {
  margin-right: 0;
}
.list .banner2 img,
.content-right img {
  width: 160px;
  height: 160px;
  margin-bottom: 22px;
}
.list .banner2 h3,
.list .banner2 p:first-of-type,
.content-right h3 {
  font-size: 14px;
  color: #212121;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 20px 3px;
}
.list .banner2 p:first-of-type,
.content-right p:first-of-type {
  color: #b0b0b0;
  height: 18px;
  font-size: 12px;
  margin: 0 20px 12px;
}
.list .banner2 .price2,
.content-right .price2 {
  font-size: 14px;
  color: #ff6709;
}
.list .banner2 .price2 del,
.content-right .price2 del {
  color: #b0b0b0;
}
.list .control {
  position: absolute;
  top: -35px;
  right: 0;
}
.list .control span {
  width: 36px;
  height: 24px;
  display: block;
  float: left;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #b0b0b0;
}
.list .control span:first-of-type {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.list .control span:hover {
  cursor: pointer;
  color: #ff6700;
}

/* 广告 */
.new {
  background: blue;
  height: 120px;
  margin-bottom: 22px;
}
.new img {
  width: 100%;
  height: 100%;
}

/* 选项卡 */
.list-header {
  position: relative;
}

.list-header ul {
  position: absolute;
  right: 0;
  padding-top: 16px;
  top: 0;
}
.list-header ul li {
  float: left;
  margin-left: 30px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
#select {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
.list-content {
  height: 614px;
  /* background: rgba(105, 101, 101, 0.6); */
}
.content-left {
  height: 100%;
  width: 234px;
  float: left;
  /* background: #f00; */
}
.content-left img {
  height: 300px;
  width: 234px;
  transition: all 0.3s;
  float: left;
  margin-bottom: 14px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.content-right {
  float: right;
  width: 992px;
  height: 614px;
  /* background: #ccc; */
}
.content-right ul {
  display: none;
}
#active {
  display: block;
}
.content-right li {
  text-align: center;
  width: 234px;
  height: 300px;
  background: #fff;
  transition: all 0.3s;
  padding-top: 20px;
  margin: 0 0 14px 14px;
  float: left;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
#last-li {
  padding-top: 50px;
  height: 143px;
}
#last-li-pro {
  height: 143px;
  padding-top: 32px;
  padding-right: 10px;
}
#small-img {
  width: 80px;
  height: 80px;
  float: right;
}
.content-right li:hover,
.content-left img:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  -ms-transform: translate3d(0, -2px, 0);
  -o-transform: translate3d(0, -2px, 0);
}
#more:hover {
  color: #ff6700;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}

.foot {
  height: 100px;
  background-color: #ccc;
  text-align: center;
}
