body {
  background: #aacfdd;
}

.panel {
  margin: 100px auto;
  background: #fff;
  width: 410px;
  padding: 32px;
  /* padding-top: 100px; */
}
.panel div {
  position: relative;
}
p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: #ff6700;
}
input {
  width: 346px;
  height: 48px;
  font-size: 14px;
}
input:nth-of-type(-n + 2) {
  border: 2px solid #ccc;
  display: block;
  margin-bottom: 15px;
  padding: 13px 16px 13px 14px;
}
input[type="submit"] {
  background: #ff6700;
  color: #fff;
  text-align: center;
  /* line-height: 48px; */
  margin-top: 50px;
  margin-bottom: 60px;
  border: none;
}
a {
  color: #757575;
}
a:hover {
  color: #ff6700;
}
input.error {
  border-color: red;
}
label.error {
  position: absolute;
  top: 30%;
  left: 396px;
  color: red;
  font-size: 20px;
  white-space: nowrap;
}

input[type="radio"] {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 30px;
}
input[type="radio"]:last-child {
  border: 2px solid #ccc;
  margin-bottom: 15px;
  padding: 13px 16px 13px 14px;
}
.register-panel {
  position: relative;
}
i {
  color: red;
  position: absolute;
  top: 75px;
  left: 32px;
}
b {
  color: red;
  position: absolute;
  top: 20%;
  right: -20px;
  font-size: 30px;
}
